{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block title %}
  <title>AdvantageUp</title>
  {% endblock %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
  <!-- Custom fonts for this template-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin-2.min.css' %}">
  {% block custom_css %}
  {% endblock %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon">
          <i class="fas fa-caret-up"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Advantage Up</div>
      </a>


      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Stores
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
        <li {% if request.resolver_match.view_name == 'your-stores' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
            <a class="nav-link" href="{% url 'your-stores' %}">
                <i class="fas fa-fw fa-comment"></i>
                <span>Your Stores</span></a>
        </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Account
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
        <li {% if request.resolver_match.view_name == 'profile'%}class="nav-item active"{% else %}class="nav-item"{% endif %}>
            <a class="nav-link" href="{% url 'profile' %}">
                <i class="fas fa-fw fa-user"></i>
                <span>Profile</span></a>
        </li>
        <li {% if request.resolver_match.view_name == 'support'%}class="nav-item active"{% else %}class="nav-item"{% endif %}>
            <a class="nav-link" href="{% url 'support' %}">
                <i class="fas fa-fw fa-question-circle"></i>
                <span>Support</span></a>
        </li>


      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.email}}</span>
                <i class="fas fa-fw fa-user-circle fa-lg"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profile' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

{% if store %}
<nav class="navbar navbar-expand-xl navbar-dark" style="background-color: #03538b;">
  <a class="navbar-brand" href="{% url 'dashboard-multi' placepk=store.id %}">{{store.placename}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li {% if request.resolver_match.view_name == 'sendreview' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
        <a class="nav-link btn btn-sm btn-outline-secondary" href="{% url 'sendreview' placepk=store.id %}">Send Review & Feedback</a>
      </li>
      <li {% if request.resolver_match.view_name == 'custom_sms' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
        <a class="nav-link btn btn-sm btn-outline-secondary" href="{% url 'custom_sms' placepk=store.id %}">Send Custom SMS</a>
      </li>
      <li {% if request.resolver_match.view_name == 'updatereview' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
        <a class="nav-link btn btn-sm btn-outline-secondary" href="{% url 'updatereview' placepk=store.id %}">Message Settings</a>
      </li>
        <li {% if request.resolver_match.view_name == 'links' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
        <a class="nav-link btn btn-sm btn-outline-secondary" href="{% url 'links' placepk=store.id %}">Links</a>
        </li>
        <li {% if request.resolver_match.view_name == 'create-link' %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
        <a class="nav-link btn btn-sm btn-outline-secondary" href="{% url 'create-link' placepk=store.id %}">Shorten Link</a>
        </li>

    </ul>

    </div>
</nav>


  <br/>
{% endif %}
          <!-- Page Heading -->
          {% block content %}
          
          {% endblock %}

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; AdvantageUp 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

{% block main_scripts %}

  <!-- Bootstrap core JavaScript-->
  <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script type="text/javascript" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script type="text/javascript" src="{% static 'js/sb-admin-2.min.js' %}"></script>

{% endblock %}

{% block page_script %}
{% endblock %}

{% load tz_detect %}
{% tz_detect %}
</body>

</html>
