{% extends my_base %}
{% load static %}
{% block title %}
<title>AdvantageUp | Your Links</title>
{% endblock %}

{% block content %}
<script>
  function validate(form) {
      return confirm('Are you sure you want to delete this link? The link will no longer work in any previous text campaigns you sent.');
  }
</script>

<div class="container">
  <h1 class="h3 mb-4 text-gray-800">Your Links</h1>
  {% include 'accounts/messages_setup.html' %}

    <h4>{{ store.placename }}</h4>
    <h5>{{ store.address }}</h5>
    <h6>Your Programmable Number: {{ store.review_number|slice:"2:5" }}-{{ store.review_number|slice:"5:8" }}-{{ store.review_number|slice:"8:12" }}</h6>
    <h6>You currently have <strong>{{store.total_links_remaining}}</strong> of <strong>{{store.total_links_limit}}</strong> short links remaining, which you can create.</h6>
    <div class="text-left mt-3 mb-3">
      <a class="btn btn-primary d-inline" href="{% url 'create-link' store.id %}">Create New Short Link</a>
    </div>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short Link</th>
          <th scope="col"># of Clicks</th>
          <th scope="col">Long Link</th>
          <th scope="col">Created On</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for link, clicks in links %}
        <tr>
          <td>{{link.short_url}}</td>
          <td>{{clicks}}</td>
          <td>{{link.long_url}}</td>
          <td>{{link.create_date}}</td>
          <td>
              <form onsubmit="return validate(this);" action="{% url 'delete_link' store.id %}" enctype="multipart/form-data" method="POST">
              {% csrf_token %}
              <input id="actual_link_id" name="actual_link_id" type="hidden" value="{{link.id}}">
              <input id="link_id" name="link_id" type="hidden" value="{{link.link_id}}">
              <input type="submit" class="btn btn-danger" value="Delete">
              </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>

</div>

{% endblock %}